
@{
    ViewBag.Title = "FavoritListing";
}

<!--************************************
                Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-content" class="tg-content tg-dashboard">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 pull-left">
                    <div class="tg-widgetdashboard">
                        <div class="tg-widgetprofile">
                            <figure class="tg-directpostimg">
                                <a href="#"><img src="~/images/thumbnails/img-20.jpg" alt="image description"></a>
                                <figcaption>
                                    <a class="tg-usericon tg-iconfeatured" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-bolt"></i>
                                            <span>featured</span>
                                        </em>
                                    </a>
                                    <a class="tg-usericon tg-iconvarified" href="#">
                                        <em class="tg-usericonholder">
                                            <i class="fa fa-shield"></i>
                                            <span>varified</span>
                                        </em>
                                    </a>
                                </figcaption>
                            </figure>
                            <div class="tg-directposthead">
                                <h3><a href="#">Dr. Steve Northrop</a></h3>
                                <div class="tg-subjects">MDS - Paedodontics &amp; Preventive Dentistry</div>
                                <ul class="tg-metadata">
                                    <li><span class="tg-stars"><span></span></span></li>
                                    <li><a href="#"><i class="fa fa-thumbs-o-up"></i> 99% (1009 votes)</a></li>
                                </ul>
                            </div>
                            <a class="tg-btn tg-btn-lg" href="@Url.Action("ProfileSetting","Home")">Edit Profile</a>

                        </div>
                        <nav id="tg-dashboardnav" class="tg-dashboardnav">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Dashboard","Home")">
                                        <i class="fa fa-line-chart"></i>
                                        <span>Insights</span>
                                    </a>
                                </li>

                                <li class="tg-warningmessage">
                                    <a href="@Url.Action("ProfileSetting","Home")">
                                        <i class="fa fa-user"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("JobLoction","Home")">
                                        <i class="fa fa-location-arrow"></i>
                                        <span>Job Locations</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PrivateMessages","Home")">
                                        <i class="fa fa-envelope-o"></i>
                                        <span>Private Messages</span>
                                    </a>
                                </li>
                                <li class="tg-successmessage tg-active">
                                    <a href="@Url.Action("Appointment","Home")">
                                        <i class="fa fa-calendar-check-o"></i>
                                        <span>Appointments</span>
                                    </a>
                                </li>
                                <li class="tg-errormessage">
                                    <a href="@Url.Action("AppointmentSetting","Home")">
                                        <i class="fa fa-gear"></i>
                                        <span>Appointment Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("FavoritListing","Home")">
                                        <i class="fa fa-heart"></i>
                                        <span>Favourite Listings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action(Url.Action("Invoice","Home"))">
                                        <i class="fa fa-clone"></i>
                                        <span>Invoices</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("UpdatePackage","Home")">
                                        <i class="fa fa-arrow-up"></i>
                                        <span>Update Package</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SecuritySettings","Home")">
                                        <i class="fa fa-gears"></i>
                                        <span>Security Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PrivacySettings","Home")">
                                        <i class="fa fa-eye"></i>
                                        <span>Privacy Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                    <div class="tg-widgetdashboard">
                        <div class="tg-dashboardnotification tg-pkgexpirey"><span>13 days</span>silver package Expire in</div>
                    </div>
                    <div class="tg-widgetdashboard">
                        <div class="tg-banneradd">
                            <figure><a href="#"><img src="~/images/placeholder/img-01.jpg" alt="image description"></a></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 pull-right">
                    <div class="tg-dashboardfavoritlisting">
                        <div class="tg-dashboardbox">
                            <div class="tg-dashboardboxtitle">
                                <h2>Favourite Listings</h2>
                            </div>
                            <div class="tg-tablescroll">
                                <div class="tg-favoritlistingbox">
                                    <div class="tg-favoritlisttitle">
                                        <span>Title</span>
                                        <span class="tg-titleaction">Action</span>
                                    </div>
                                    <ul class="tg-favoritlist">
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-21.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Triona Spa &amp; Massage Center</a></h4>
                                                    <span>MBBS, MRCOG, FRCOG, CCST , UK – Gynecologist</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-02.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Life Saver Pharmacy</a></h4>
                                                    <span>Local Pharmaceutical Council (LPhC)</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-03.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Manchester Eye Hospital</a></h4>
                                                    <span>Manchester Trust Hospital</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-04.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Trim Down Fitness Studio</a></h4>
                                                    <span>Health &amp; Beauty &amp; Fitness</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-01.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Triona Spa &amp; Massage Center</a></h4>
                                                    <span>MBBS, MRCOG, FRCOG, CCST , UK – Gynecologist</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-02.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Life Saver Pharmacy</a></h4>
                                                    <span>Local Pharmaceutical Council (LPhC)</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-03.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Manchester Eye Hospital</a></h4>
                                                    <span>Manchester Trust Hospital</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-04.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Trim Down Fitness Studio</a></h4>
                                                    <span>Health &amp; Beauty &amp; Fitness</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tg-favotirelistcontent">
                                                <figure><a href="#"><img src="~/images/thumbnails/img-01.jpg" alt="image description"></a></figure>
                                                <div class="tg-listdata">
                                                    <h4><a href="#">Triona Spa &amp; Massage Center</a></h4>
                                                    <span>MBBS, MRCOG, FRCOG, CCST , UK – Gynecologist</span>
                                                </div>
                                            </div>
                                            <div class="tg-btnaction">
                                                <a class="tg-btnview" href="#"><i class="fa fa-eye"></i></a>
                                                <a class="tg-btndelete" href="#"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--************************************
        Main End
*************************************-->
